<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="T3pyRYster.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <T3pyRYster.Settings>
            <setting name="Key1" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="Key6" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="Key7" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Key8" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="Key9" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="Key10" serializeAs="String">
                <value>F10</value>
            </setting>
        </T3pyRYster.Settings>
    </userSettings>
</configuration>