<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="T3pyRYster.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <T3pyRYster.Settings>
            <setting name="Key1" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="Key6" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="Key7" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Key8" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="Key9" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="Key10" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="ColorOne" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorTwo" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Value1" serializeAs="String">
                <value />
            </setting>
            <setting name="Value2" serializeAs="String">
                <value />
            </setting>
            <setting name="Value3" serializeAs="String">
                <value />
            </setting>
            <setting name="Value4" serializeAs="String">
                <value />
            </setting>
            <setting name="Value5" serializeAs="String">
                <value />
            </setting>
            <setting name="Value6" serializeAs="String">
                <value />
            </setting>
            <setting name="Value7" serializeAs="String">
                <value />
            </setting>
            <setting name="Value8" serializeAs="String">
                <value />
            </setting>
            <setting name="Value9" serializeAs="String">
                <value />
            </setting>
            <setting name="Value10" serializeAs="String">
                <value />
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="AltMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CtrlMod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="K" serializeAs="String">
                <value />
            </setting>
            <setting name="HHKEY" serializeAs="String">
                <value>None</value>
            </setting>
        </T3pyRYster.Settings>
    </userSettings>
</configuration>